.MISS_TESMAN {
    color: red;
    font-size: 100%;
    font-family: Courier;
}
.BERTA {
  color: green;
  font-size: 100%;
  font-family: Courier;
}
.speech{
    color:black;
    font-size: 80%;
    font-family: verdana;
}
.direction {
    background-color: lightblue;
  }
.direction:hover{
    background-color: blue;
}
.speech_MISS_TESMAN{color:orange;}
.speech_BERTA{color:hotpink;}
/* Style for the table */
.table,th,td {
    
    border: 1px solid #ddd;
    color:brown;
    border-color: blue;
    margin:0px;
    padding:0px;
    /*margin-bottom: 20px;*/
    text-align: left;
  }
  .tr:nth-child(even) {
    background-color: rgb(21,219,203); /* Row stripes for odd rows */
  }
  .MISS_TESMAN:hover{
    text-shadow:6px 7px 5px burlywoodg;
    border:solid 2px blueviolet
  }
.BERTA:hover{
  text-shadow:6px 7px 5px burlywoodg;
    border:solid 2px blueviolet
}
.navbar{
  text-align: center;
  background-color:rgb(240,225,220);
  padding: 10px;
  width:50%;
}
.navbar a{
  color:blueviolet;
  text-decoration: underline;
  display: block;
  padding: 5px;
}
.navbar a:hover{
  background-color: rgb(218,204,186);
  color:rgb(180,63,63);
}
